/* Table-Stil1 CSS */
.table-stil1 {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.table-stil1 th,
.table-stil1 td {
  text-align: left;
  font-size: 15px;
  letter-spacing: 0.3px;
}

.table-stil1 th {
  padding: 13px 8px;
  border: 1px solid #ddd;
  background-color: #eef1f3;
  font-weight: 600;
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.table-stil1 td {
  padding: 5px 8px;
  border: 1px solid #ddd;
  color: #414040;
  font-weight: 400;
  line-height: 1.4;
}

.table-stil1 tr:hover {
  background-color: #f8f9fa;
}
/* TAKVİM */
.fc-event {
  cursor: pointer !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}
.fontstil13 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
.fontstil14 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.p-datepicker-calendar td {
  padding: 0.1rem !important;
}
