<div style="display:flex; justify-content:space-between; align-items:center; gap:8px; margin-bottom:1rem;">
  <button data-toggle="modal" data-target="#pmModal" class="btn btn-sm btn-dark">
    <i class="fas fa-plus"></i> Yeni Personel Hareketi
  </button>
  <input pInputText #globalFilter placeholder="Ara..." type="text" (input)="onGlobalFilter($event)" style="max-width:280px;" />
</div>

<p-table #dt [value]="movements" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]" 
  [sortMode]="'multiple'" [responsiveLayout]="'scroll'" 
  [globalFilterFields]="['personnel.firstName','personnel.lastName','pmType.name','branch.name', 'description']">
  
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="personnel.firstName">Adı <p-sortIcon field="personnel.firstName"></p-sortIcon></th>
      <th pSortableColumn="personnel.lastName">Soyadı <p-sortIcon field="personnel.lastName"></p-sortIcon></th>
      <th pSortableColumn="pmType.name">Hareket Türü <p-sortIcon field="pmType.name"></p-sortIcon></th>
      <th pSortableColumn="branch.name">Branş <p-sortIcon field="branch.name"></p-sortIcon></th>
      <th pSortableColumn="start">Başlangıç <p-sortIcon field="start"></p-sortIcon></th>
      <th pSortableColumn="finish">Bitiş <p-sortIcon field="finish"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-pm>
    <tr>
      <td>{{ pm.personnel?.firstName }}</td>
      <td>{{ pm.personnel?.lastName }}</td>
      <td>{{ pm.pmType?.name }}</td>
      <td>{{ pm.branch?.name }}</td>
      <td>{{ pm.start | date:'dd.MM.yyyy' }}</td>
      <td>{{ pm.finish ? (pm.finish | date:'dd.MM.yyyy') : '-' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">Kayıt bulunamadı.</td>
    </tr>
  </ng-template>
</p-table>

<app-modal name="pmModal" title="Yeni Personel Hareketi">
  <form #addForm="ngForm" (ngSubmit)="Add(addForm)">
    
    <div class="row">
      <div class="col-md-6 form-group mb-2">
        <label>Personel</label>
        <p-select [options]="personnelList" [(ngModel)]="newMovement.personnelId" (onChange)="onPersonnelChange($event)"
          name="personnelId" placeholder="Personel Seçin" styleClass="w-100" [required]="true" optionValue="id">
          <ng-template let-person pTemplate="selectedItem">
            <div *ngIf="person">
              {{ person.firstName }} {{ person.lastName }}
            </div>
          </ng-template>
          <ng-template let-person pTemplate="item">
            <div>
              <div class="font-weight-bold">{{ person.firstName }} {{ person.lastName }}</div>
              <div style="font-size: 0.85em; color: gray;">{{ person.title?.name || person.title || 'Ünvan Yok' }}</div>
            </div>
          </ng-template>
        </p-select>
      </div>
      <div class="col-md-6 form-group mb-2">
        <label>Hareket Türü</label>
        <p-select [options]="pmTypes" [(ngModel)]="newMovement.pmTypeId" optionLabel="name" optionValue="id" 
          name="pmTypeId" placeholder="Tür Seçin" styleClass="w-100" [required]="true"></p-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-group mb-2">
        <label>Branş</label>
        <p-select [options]="filteredBranches" [(ngModel)]="newMovement.branchId" optionLabel="name" optionValue="id" 
          name="branchId" placeholder="Branş Seçin" styleClass="w-100" [required]="true"></p-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group mb-2 d-flex flex-column">
        <label>Başlangıç Tarihi</label>
        <p-datepicker [(ngModel)]="newMovement.start" name="start" styleClass="w-100" [required]="true"></p-datepicker>
      </div>
      <div class="col-md-6 form-group mb-2 d-flex flex-column">
        <label>Bitiş Tarihi</label>
        <p-datepicker [(ngModel)]="newMovement.finish" name="finish" styleClass="w-100"></p-datepicker>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 form-group mb-2 d-flex flex-column">
        <label>Sözleşme Başlangıç</label>
        <p-datepicker [(ngModel)]="newMovement.contractStart" name="contractStart" styleClass="w-100"></p-datepicker>
      </div>
      <div class="col-md-6 form-group mb-2 d-flex flex-column">
        <label>Sözleşme Bitiş</label>
        <p-datepicker [(ngModel)]="newMovement.contractFinish" name="contractFinish" styleClass="w-100"></p-datepicker>
      </div>
    </div>

    <div class="form-group mb-2 mt-2">
      <div class="form-check">
        <p-checkbox [(ngModel)]="newMovement.isSgk" name="isSgk" binary="true" inputId="isSgkCheck"></p-checkbox>
        <label class="form-check-label ms-2" for="isSgkCheck">SGK'lı mı?</label>
      </div>
    </div>

    <div class="form-group mb-2">
      <label>Açıklama</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="newMovement.description">
    </div>

    <hr>
    <div class="text-right d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">İptal</button>
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="!addForm.valid">
        <i class="fa fa-save"></i> Kaydet
      </button>
    </div>
  </form>
</app-modal>
